<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hmdp.mapper.UserMapper">
<!--    <resultMap id="userResultMap" type="com.hmdp.entity.User">-->
<!--        <id property="id" column="id"/>-->
<!--        <result property="phone" column="phone"/>-->
<!--        <result property="password" column="password"/>-->
<!--        <result property="nickName" column="nick_name"/>-->
<!--        <result property="icon" column="icon"/>-->
<!--        <result property="createTime" column="create_time"/>-->
<!--        <result property="updateTime" column="update_time"/>-->
<!--    </resultMap>-->
    <select id="getUser" resultType="com.hmdp.entity.User" parameterType="user">
        select * from heima.tb_user <where>
        <if test="id!=null">
            and id=#{id},
        </if>
                     <if test="phone!=null">
                         and phone=#{phone}
                     </if>
                     <if test="password!=null">
                         and password=#{password}
                     </if>
                     <if test="nickName!=null">
                         and nick_name=#{nickName}
                     </if>
                     <if test="icon!=null">
                         and icon=#{icon}
                     </if>
                     <if test="createTime!=null">
                         and create_time=#{createTime}
                     </if>
                     <if test="updateTime!=null">
                         and update_time=#{updateTime}
                     </if>
    </where>
    </select>
</mapper>